<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
</head>
<body>
    <h2>Angular js sample application</h2>
    <div ng-app="">
        <table border="0">
            <tr>
                <td>
                    <input type="checkbox" ng-model="enableDisableButton">Disable
                </td>
                <td>
                    <button ng-disabled="enableDisableButton">Click me</button>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" ng-model="showHide1">Show button
                </td>
                <td>
                    <button ng-show="showHide1">Click me</button>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" ng-model="showHide2">Hide button</td>
                <td><button ng-hide="showHide2">Click me!</button></td>
            </tr>
            <tr>
                <td><p>Total ckick: {{clickCounter}}</p></td>
                <td><button ng-click="clickCounter=clickCounter+1">Click me</button></td>
            </tr>
        </table>
    </div>
</body>
</html>