<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
</head>
<body ng-app="myApp">
    <div ng-controller="myController">
        <select ng-model="SortOrder">
            <option value="+name">Name(asc)</option>
            <option value="-name">Name(dec)</option>
            <option value="+phone">phone(asc)</option>
            <option value="-phone">phone(dec)</option>
        </select>
        <ul ng-repeat="person in persons|orderBy:SortOrder">
            <li>{{person.name}}-{{person.phone}}</li>
        </ul>
    </div>
    <Script>
        var myApp=angular.module("myApp",[]);
        myApp.controller("myController",function($scope){
            $scope.persons=[{name:'john',phone:'512-22-9992'},
            {name:'mark',phone:'598-12-9082'},
            {name:'mike',phone:'912-00-8722'},
            {name:'bill',phone:'752-65-9892'},
            {name:'ram',phone:'524-256-9902'}]
        })
    </Script>
</body>
</html>