<h2>Teachers page</h2>

<div ng-controller="teacher_ctr">
    <table class="table table-hover table-striped bg-dark text-white table-bordered">
        <th>
            <tr>
                <th>NAME</th>
                <th>Age</th>
                <th>Qualifications</th>
            </tr>
        </th>
        <tbody>
            <tr ng-repeat="teacher in teachers">
                <td>{{teacher.name}}</td>
                <td>{{teacher.age}}</td>
                <td>{{teacher.qualification}}</td>
            </tr>
        </tbody>
    </table>
</div>